<nav class="bg-white py-3 border-b border-gray-200">
  <div class="mx-auto w-11/12 flex justify-between items-center">
            <LinkTo @route="products" >
              <img src="/icons/logo.png" alt="products">
            </LinkTo>
            <LinkTo @route="checkout" >
              <img src="/icons/empty-cart.png" alt="cart">
            </LinkTo>
  </div>
</nav>