<nav class="bg-white py-3 border-b border-gray-200">
  <div class="mx-auto w-11/12 flex justify-between items-center">
            <LinkTo @route="products" >
              <img src="/icons/logo.png" alt="products">
            </LinkTo>
            {{#if this.isCartFiled}}
              <LinkTo @route="checkout" >
                <div class="flex justify-between items-center px-2 py-1 bg-violet-50 rounded text-violet-500">
                  <img src="/icons/shopping-cart.png" alt="cart">
                  <span class="inline-block rounded-full bg-white text-violet-500 text-center w-6 h-6 mx-2 font-bold">{{4}}</span>
                  <span>£{{13.98}}</span>
                </div>
              </LinkTo>
            {{else}}
              <LinkTo @route="checkout" >
                <img src="/icons/empty-cart.png" alt="cart">
              </LinkTo>
            {{/if}}
  </div>
</nav>