{{page-title "Products"}}

<div class="w-11/12 mx-auto mt-7 mb-5">
    <h1 class="text-4xl leading-10 font-medium mb-2">Groceries</h1>
    <p class="text-xl leading-7 font-normal">Special FX offers only the finest organic produce.</p>
</div>

<div class="flex justify-between flex-wrap my-10">
    {{#each this.model as |product|}}
    <Product @product={{product}} />
    {{/each}}
</div>
